# Environment variables
.env

# Django #
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3

# JIRA plugin
#atlassian-ide-plugin.xml

# celery 
#celerybeat-schedule.* 

# rsa keys
/rsa_keys

# test
authentication/tests/fixtures.json
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover